@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime

<Header></Header>

<div id="blog" class="blog">
	<div class="container">
		@Body
	</div>
</div>

<Footer></Footer>


@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (!firstRender)
			return;
			
		await jsRuntime.InvokeVoidAsync("loadScript", "assets/js/owl-carousel.js");
		await jsRuntime.InvokeVoidAsync("loadScript", "assets/js/animation.js");
		await jsRuntime.InvokeVoidAsync("loadScript", "assets/js/imagesloaded.js");
		await jsRuntime.InvokeVoidAsync("loadScript", "assets/js/custom.js");

		await base.OnAfterRenderAsync(firstRender);
	}
}