@page "/courses"
@inject ApiClient _client;

<h3>My Courses!! (WebAssembly)</h3>

<hr />

@{
    foreach(var course in MyCourses.Take(10))
    {
        <b>@course.Title</b> <br /><br />
    }
}

@code
{
    private List<CourseModel> MyCourses { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        MyCourses = await _client.GetCoursesAsync();
    }
}
