    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2022 Ron Blazor - All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>