<header class="header-area header-sticky wow slideInDown" data-wow-duration="0s" data-wow-delay="0s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="./" class="logo">
                        <img src="img/ronblazor.png" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="./"@* class="active"*@>Home</a></li>
                        <li class="scroll-to-section"><a href="Components">Components</a></li>
                        <li class="scroll-to-section"><a href="WASM">WASM</a></li>
                        <li class="scroll-to-section"><a href="MAUI">MAUI</a></li>
                        <li class="scroll-to-section"><a href="SEO">SEO</a></li>
                        <li class="scroll-to-section"><div class="border-first-button"><a href="login">Login</a></div></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>