@page "/courses"
@using Microsoft.EntityFrameworkCore
@inject IRepository<CourseModel> _repository

<h3>My Courses!!</h3>

<hr />

@{
    foreach(var course in MyCourses.Take(10))
    {
        <b>@course.Title</b> <br /><br />
    }
}

@code
{
    private List<CourseModel> MyCourses { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        MyCourses = await _repository.QueryAll()
            .ToListAsync();
    }
}