@page "/courses"
@using Microsoft.EntityFrameworkCore
@inject IRepository<CourseModel> Repo

<h3>My Courses!!</h3>

<hr />

@{
    foreach(var course in courses.Take(10))
    {
        <b>@course.Title</b> <br /><br />
    }
}

@code
{
    private List<CourseModel> courses { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        courses = await Repo.QueryAll().ToListAsync();
    }
}